html {
  font-size: 24px;
  background-color: lightblue;
}

header h1 {
  margin-bottom: 5%;
  color: snow;
  text-transform: uppercase;
  text-shadow: 2px 2px black;
}
header h1:hover {
  color: lightgray;
}
input {
  font-size: 1.1rem;
  margin-bottom: 1%;
}

span {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bolder;
}

.text_area_div button{
  font-size: .5rem;
  margin-left: 1%;
  margin-right: 1%;
}
.text_area_div button:hover {
  background-color: green;
}


.text_area {
  font-size: 1.5rem;
}
.App {
 text-align: center;
 font-size: 1.5rem;
}

#blog_visibility {
  font-size: .5rem;
  text-transform: uppercase;
  /* color: black; */
  /* text-shadow: 2px 2px gray; */
  margin-top: 2%;
  /* background-color: lightgray; */
}
#blog_visibility:focus {
  outline: none;
}
#blog_visibility:hover {
  background-color: darkgray;
}
.blog_container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  margin-bottom: 2%;
}
.blog_body {
  width: 60%;
  display: flex;
  flex-direction: column;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');
.blog_body h1 {
  font-family: 'Montserrat', sans-serif;
  color: black;
  font-weight: bolder;
  font-size: 2.5rem;
  text-shadow: 2px 2px gray;
}

.blog_body div {
  border: 1px solid black;
  background-color: lightgray;
  margin-top: 3%;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 3%;
  word-wrap: break-word;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat');
.blog_body p {
  font-family: 'Montserrat', sans-serif;
  text-indent: 2%;
  font-size: 1rem;
  text-align: justify;
  
}

.remove_btns {
  background-color: linen;
  font-size: 1.5rem;
}
.remove_btns:hover {
  background-color: red;
}
